*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background:#f5f6fa;
}

.border-light {
    border: 1px solid #e0e0e0!important;
}

.card {
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
    box-shadow: 1px 0 20px rgba(96,93,175,.05);
    margin-bottom: 30px;
    margin-top:20px;
    padding:10px;
}

label {
    color: #2e4a65;
    margin-bottom:0.5rem;
}

#search {
    margin-top: 2rem;
}

.reviewer-btn {
  text-decoration: none;
  color: #fff;
}

.card-wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2rem;
  justify-content: center;
}

.profile-card{
  width: 16rem;
  height: 25rem;
  /* width: 32rem; */
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
  border-radius: 2rem;
}

.profile-card .card-img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.profile-img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100%;
  margin-top: -10rem;
  margin-left: -2.3rem;
  z-index: 1000;
  border: 0.7rem solid #ebeef8;
}

.profile-card h1{
  font-size: 1.5rem;
  color: #333;
  margin: 1.5rem 0;
}

.profile-card .about{
  font-size: 13px;
  width: 95%;
  margin-top: -25%;
  font-style: normal;
  text-align: center;
  color: #333;
  padding: 1rem 2.5rem;
  text-overflow:ellipsis;
}

.profile-card .btn{
  padding: 0.5rem 2rem;
  background-color: #003658;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #fff;
  transition: all .5s;
}

.profile-card .btn:hover{
  transform: translateY(-2px);
  box-shadow: .2rem .2rem 1rem rgba(21, 83, 207, 0.579);
}

.profile-card .btn:active{
  transform: translateY(0);
  box-shadow: none;
}

.profile-card:hover{
  transform: scale(1.02);
}

.checked {
  color: orange;
}

.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #00838f !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}
.carousel-item{height:100%; }
.img-fluid{
    border-radius:10px 10px 10px 10px; height:10%; margin-top: 2rem; width: 100%;
}
.carousel{height:80%;}
.carousel-inner{border-radius:10px 10px 10px 10px; height:30%; width: 150%; ;}
.carousel-caption{text-align:left; left:5%;}

.carousel .carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}