@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #003658, #003658);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #003658, #97d0f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
height: 100vh;
overflow: auto;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 10px 0 0 10px; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1); height:600px;}
.carousel-inner{border-radius:10px 0px 0px 10px; height:600px;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px 10px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:linear-gradient(to right, #003658, #97d0f3); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #003658; color:#fff; font-weight:600; width:280px}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.carousel-item{height:100%;}
.img-fluid{height:100%;}
.carousel{height:100%;}
.form-check{    
    display: flex;
    justify-content: center;
    padding: 0px;
}
.form-group{margin-bottom: 3px; margin-top: 5px;}
.sign-up-link{font-size: 12px; margin-bottom:10px; padding:3px;}
.login-err-msg{color:rgb(204, 9, 9);font-size: 11px; }