* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f5f3;
}

.header {
  width: 1400px;
  height: 60px;
  margin: 30px auto;
  color: #003658;
}

.logo {
  width: 200px;
  height: 60px;
  background-color: blue;
  float: left;
}

li {
  list-style: None;
}

.nav {
  float: left;
  margin-left: 50px;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  line-height: 60px;
  font-size: 20px;
}

.collapse ul li a:hover {
  border-bottom: 4px solid blue;
  color: blue;
}

a {
  text-decoration: none;
}

.searching {
  float: left;
  margin-left: 30px;
  margin-right: 50px;
}

/* .searching input {
  float: left;
  width: 320px;
  height: 58px;
  border: 1px solid aqua;
  border-right: none;
  font-size: 16px;
  padding-left: 15px;
} */

.user {
  float: right;
  line-height: 60px;
  margin-right: 40px;
  font-size: 16px;
}

.filter {
  background-color: rgba(21, 83, 207, 0.579);
  width: 1400px;
  margin: 30px auto;
}
/* 
select[name="deliveryTime"] {
  float: left;
  height: 30px;
  margin-top: 10px;
}

select[name="expectedPrice"] {
  float: left;
  height: 30px;
  margin-top: 10px;
}
select[name="reviewerType"] {
  float: left;
  height: 30px;
  margin-top: 10px;
} */
select {
  float: left;
  height: 30px;
  margin-top: 10px;
}

.selectItem {
  float: left;
  margin-left: 35px;
  margin-top: 15px;
}
.selectBox {
  height: 50px;
  line-height: 50px;
}

.checkBox {
  height: 50px;
  line-height: 50px;
}

.checkItem {
  float: left;
  margin-left: 35px;
}

input[type="radio"] {
  float: left;
  height: 30px;
  margin-top: 10px;
}

.dividing {
  height: 10px;
  width: auto;
}
