img { height: 22px; width: 22px;}

tr:hover { background-color: #e8f4fa; cursor: pointer;}
th{ padding: 15px 20px 20px 15px;}
th { color: #003658;}
td{ padding: 15px;}
table {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

body{
    background:#f5f6fa;
}
.card {
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
    box-shadow: 1px 0 20px rgba(96,93,175,.05);
    margin-bottom: 30px;
    margin-top:30px;
    padding:20px;
}
.table th {
    font-weight: 500;
    color: #1b3d59;
}

.table thead {
    background-color: #ECF1F7;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    padding: 14px 12px;
    vertical-align: middle;
}
.table tr td {
    color: #718196;
}
.thumb-sm {
    height: 32px;
    width: 32px;
}
.badge-soft-warning {
    background-color: rgba(248,201,85,.2);
    color: #f8c955;
}

.badge {
    font-weight: 500;
}
.badge-soft-primary {
    background-color: rgba(96,93,175,.2);
    color: #605daf;
}

.status {
    font-size:30px;
}