.order-section{ height: 100vh; margin: auto; margin-top: 20px;}

h2 {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003658;
    font-size: 30px;
}

.confirm-field{ 
    width: 90%; 
    height: 90%; 
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 20px;
}
.confirm-option{
    float: right;
    width:70px;
    color: #fff;
    margin: 2px;
    margin-top: 30px;
    border: none;
    outline: none;
}
#confirm-btn{ background-color: #03ac28; margin-right: 50px;}
#reject-btn{ background-color: #9c0d03}
#confirm-status{
    display: none; margin-right: 50px;
}
body.showConfirmStatus #confirm-option {
    display: none;
}
body.showConfirmStatus #confirm-status {
    display: block;
}

.order-title { padding: 20px;}
.order-search {
    width: 90%;
    padding: 10px;
    margin: auto;
}

form { align-items: center;}
input{
    width: 40%;
    border-width: 0 0 2px;
    border-color: #003658;
    padding: 3px;
    margin: 8px;
    outline: none;
    opacity: 90%;
}
button {
   border: 0px;
   border-radius: 5px;
   background-color: #fff;
   padding: 2px;
   height: 28px;
   width: 28px;
}
img { height: 22px; width: 22px;}

tr:hover { background-color: #e8f4fa; cursor: pointer;}
th{ padding: 15px 20px 20px 15px;}
th { color: #003658;}
td{ padding: 15px;}
table {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.select-file-label {
    background-color: #ebebeb;
    border-style: solid;
    border-color: #003658;
    color: #003658;
    padding: 85px 0px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 3px;
    height: 200px;
    width: 90%;
    text-align: center;
    margin: auto;
}
span { margin: 3px;}
#file-selected { margin-left: 3px;}
.upload-btn{
    background: #003658; 
    color:#fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    margin-top: -3px;
    width: 90%;
}
.upload-field{ width: 90%; margin: auto;}
.upload-form{ width: 90%; float: left;}
p { margin-top: 10px; color: #003658; font-weight: bold;}
.uploaded-files { width: 90%;}

.rating-field{ width: 90%; margin: auto; margin-top: 30px; margin-bottom: 80px;}
#direct-to-rate{ color:#fff}
a:hover{ text-decoration: none;}
.show-rating-btn{
    height: 30px;
    width: 150px;
    background-color: #003658;
    border-radius: 3px;
    text-align: center;
    padding:2px;
}
#ratingForm { display: none; width: 60%; margin: auto;}
.textComments { width: 90%; margin-bottom: 5px; padding: 2px;}
.submit-btn { margin-bottom: 10px;}
body.showRatingForm #ratingForm {
    display: block;
}

.cancel-field {
    width: 90%; margin: auto; 
}
#cancel-btn{
    background: #9c0d03; 
    color:#fff;
    margin-bottom: 30px;
    width: 150px;
    outline: none;
    float: right;
}

.complete-field {
    width: 90%; margin: auto; margin-top: 50px;
}
#complete-btn{
    background: #03ac28; 
    color:#fff;
    margin-bottom: 30px;
    width: 150px;
    outline: none;
    float: right;
}