.order-section{
    height: 100vh;
    margin: auto;
}

h2 {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003658;
    font-size: 30px;
}

.order-section {
    margin-top: 20px;
}

.order-title {
    padding: 20px;
}

.order-search {
    width: 90%;
    padding: 10px;
    margin: auto;
}

form {
    align-items: center;
}

input{
    width: 40%;
    border-width: 0 0 2px;
    border-color: #003658;
    padding: 3px;
    margin: 8px;
    outline: none;
    opacity: 90%;
}

button {
   border: 0px;
   border-radius: 5px;
   background-color: #fff;
   padding: 2px;
   height: 28px;
   width: 28px;
}

img {
   height: 22px;
   width: 22px;
}


tr:hover {
    background-color: #e8f4fa;
    cursor: pointer;
}

th{
    padding: 15px 20px 20px 15px;
}

th {
    color: #003658;
}

td{
    padding: 15px;
}

table {
    width: 90%;
    margin: auto;
    background-color: #fff;
}


