body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

.main-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-body {
    padding: 2rem 2rem;
    background: #fff;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.img-circle {
    border-radius: 50%;
}

.panel {
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel-body {
    padding: 25px 20px;
}

.media-left {
    padding-right:10px;
}

.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.media-heading {
    color: #3f5771;
}

.media-heading:hover {
    color: #00304e;
}