<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review Card</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <section>
            <div class="container">
                <div class="card-wrapper">
                    <div class="card">
                        <img src="{% static 'img/tink.jpeg' %}" alt="card background" class="card-img">
                        <img src="{% static 'img/avatar.jpeg' %}" alt="profile image" class="profile-img">
                        <h1>Shark</h1>
                        <span class="fa fa-star checked"> 4.5</span>
                        <p class="about">
                            The IKEA store in Helsinki, Finland, was full of customers that day back in 1997. Being a textile technologist at Children’s IKEA at the time, Carina Ingelsten ran a course about safety for a group of IKEA co-workers.
                        </p>
                        <a href="#" class="btn">View</a>
                    </div>

                    <div class="card">
                        <img src="{% static 'img/tink.jpeg' %}" alt="card background" class="card-img">
                        <img src="{% static 'img/pikachu.jpeg' %}" alt="profile image" class="profile-img">
                        <h1>Pikachu</h1>
                        <span class="fa fa-star checked"> 3</span>
                        <p class="about">
                            Pikachu is a yellow mouse-like Pokémon with powerful electrical abilities. Pikachu is the best-known species of Pokémon, largely due to its appearance in the anime series.
                        </p>
                        <a href="#" class="btn">View</a>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html> 
