{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src = "{% static 'js/home.js' %}"></script>

<section class="reviewer-section">
    {{ form.name }}
    {{ form.major }}
    {{ form.academic_standing }}
    {{ form.price }}

    <div class="container">
        <div class="card-wrapper">
            {% for reviewer in reviewer %}
            <div class="card text">
                <img src="{% static 'img/tink.jpeg' %}" alt="card background" class="card-img">
                <img class="profile-img" src="{{reviewer.account.avatar.url}}" >
                <h1 class="text">{{reviewer.account.first_name}} {{reviewer.account.last_name}}</h1>
                <p class="about text">{{reviewer.self_intro}}</p>
                <a href="/reviewer_profile/?reviewer_id={{ reviewer.id }}" class="btn reviewer-btn">View</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
