{% extends "base.html" %}
{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/orderpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/rating.css' %}" />
<link rel="stylesheet" href="{% static 'css/track_order.css' %}" />
<script src = "{% static 'js/rating.js' %}"></script>
<script src = "{% static 'js/orderpage.js' %}"></script>

<form class="order-detail-form" id="order-detail-form" method="post" action="" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

<section class='order-section'>
    <!-- title -->
    <section class='row'>
        <div class="col-sm-8" >
            <div class='order-title'> <h2>Orders Details</h2></div>
        </div>
        <div class="col-sm-2" >
            <button type="button" class="btn btn-outline-success" id="accept-order-btn">Accept Order</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-danger" id="reject-order-btn">Cancel Order</button>
        </div>
    </section>  

    <div id="order-state-hidden" hidden><span>{{order.state}}</span></div>
    <div class="progress-track" style="margin-top:50px;margin-bottom:50px">
        <ul id="progressbar">
            <li class="step0 active" id="step1"><span id="progress-one">Order Placed</span></li>
            <li class="step0 active text-center" id="step2"><span style="text-align: center;" id="progress-two">Pending</span></li>
            <li class="step0 text-center" id="step3"><span id="progress-three">Accepted</span></li>
            <li class="step0 text-right" id="step4"><span id="progress-four">Completed</span></li>
        </ul>
    </div>

    <!-- information table -->
    <section class='order-table row'  style="margin-bottom:30px">
        <div class="col-sm-6 order-col-element" >
            <table>
                <tr>
                    <th>Customer</th>
                    <td>{{ order.reviewer.account.first_name }} {{ order.reviewer.account.last_name }}</td>
                </tr>
                <tr>
                    <th>Order number</th>
                    <td>#{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>${{ order.reviewer.price }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 order-col-element" >
            <table>
                <tr>
                    <th>Reviewer</th>
                    <td id="complete-info">Manisha Mcpherson</td>
                </tr>
                <tr>
                    <th>Start Time</th>
                    <td>{{order.create_at}}</td>
                </tr>
                <tr>
                    <th>Complete Time</th>
                    <td>
                        {% if order.finished_at %}
                        {{order.finished_at}}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </section>



    <!-- upload/download -->
    <section class='upload-field container-fluid' style="margin-top:30px;margin-bottom:30px">
        <hr>
        <div style="margin-top:30px;"><p> Documents </p></div>
        <div class="row" style="margin-right:50px;margin-bottom:30px">
            <!-- upload field -->

            <div class="file-upload col-9">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div>
                    {{ form.resume }}
                </div>
            </div>
            <div class="col-3">
                <div style="display: flex; justify-content: flex-end">
                    <button type="submit" class="btn btn-outline-primary" id="submit" style="width:100px">Upload</button>
                </div>
            </div>

        </div>

        {% if order.resume %}

        <div class="row" style="margin-right:50px;margin-top:20px">
            <div class="col-9" id='download-files'>
                {{ order.resume }}
            </div>
            <div class="col-3">
                <div style="display: flex; justify-content: flex-end">
                    <input id="id_download" name="download" hidden value="false">
                    <button type="submit" class="btn btn-outline-primary" id="download" style="width:100px">Download</button>
                </div>
            </div>
        </div>
        {% endif %}
    </section>


    <!-- Rating -->
    <section class='rating-field container-fluid'>
        <hr>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="background-color: #003658;margin-top:30px;margin-bottom:50px" id="ratingSection">
            Rate the Reviewer
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rating Form</h5>
                    </div>
                    <div class="modal-body">
                        <form id="ratingForm">
                            <div class="star">
                                <input type="radio" id="star5" name="star" value="5" hidden/>
                                <label for="star5" title="text"></label>
                                <input type="radio" id="star4" name="star" value="4" hidden/>
                                <label for="star4" title="text"></label>
                                <input type="radio" id="star3" name="star" value="3" hidden/>
                                <label for="star3" title="text"></label>
                                <input type="radio" id="star2" name="star" value="2" hidden/>
                                <label for="star2" title="text"></label>
                                <input type="radio" id="star1" name="star" value="1" hidden/>
                                <label for="star1" title="text"></label>
                            </div>
                            <br>
                            <textarea class="textComments" placeholder = "Leave Comments..." rows = "6" style="padding:10px"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save rating</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>
</form>
{% endblock %}