{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <title> Orders </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/orderpage.css' %}" />
    </head>
    <body>
        <!-- Nav Bar-->

        <section class='order-section'>
            <!-- title -->
            <div class='order-title'> <h2>Orders </h2></div>

            <!-- Search -->
            <div class="order-search">
                <form>
                    <input type="text" placeholder="Reviewer name">
                    <input type="text" placeholder="Date">
                    <button type="submit"> <img src="{% static 'img/search_icon.png' %}"> </button>
                </form>
            </div>

            <!-- order table -->
            <section class='order-table'>
                <table>
                    <tr>
                        <th>Reviewer</th>
                        <th>Date</th> 
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>2020-05-06</td> 
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>2020-05-06</td> 
                        <td>$30</td>
                    </tr>
            </section>
        </section>
    </body>
    
    
</html>
