{% extends "base.html" %}
{% load static %}

{% block title %}Order{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/orderpage.css' %}" />
<script src = "{% static 'js/order.js' %}"></script>

        <section class='order-section'>
            <!-- title -->
            <div class='order-title'> <h2>Orders </h2></div>

            <!-- Search -->
            <div class="order-search row">
                <div class="col-sm-4 order-col-element" >
                    <select id="order-select">
                        <option value="user">Order Sent</option>
                        <option value="reviewer">Order Receviced</option>
                    </select>
                </div>
                <div class="col-sm-8 order-col-element" >
                    <form id='order-srch-form'>
                        <input type="text" placeholder="Reviewer name">
                        <input type="text" placeholder="Date">
                        <button type="submit" class='search-order-button'> <img src="{% static 'img/search_icon.png' %}"> </button>
                    </form>
                </div>
            </div>

            <!-- order table -->
            <section class='order-table'>
                <table>
                    <thead>
                        <tr>
                            <th>Reviewer Name</th>
                            <th>Date</th> 
                            <th>Status</th> 
                            <th>Price</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in user_order %}
                        <tr data-href= "/order_detail/?order_id={{ order.id }}">
                            <td>{{ order.reviewer.account.first_name }}</td>
                            <td>{{ order.create_at }}</td>
                            <td id = "status-of-order">
                            <!-- text-info:comfirmed, text-waring:pending, text-danger:rejected-->

                            <span class="status {{ order.state }}">•</span>
                            {{ order.state }}
                            </td>
                            <td>{{ order.reviewer.price }}</td>
                            <td class='go-to-detail'>
                                <a href="/order_detail/?order_id={{ order.id }}"> <img src="{% static 'img/right-arrow.png' %}"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>
    </body>

    

    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });

    </script>

{% endblock %}
