{% extends "base.html" %}
{% load static %}

{% block title %}Order{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/orderpage.css' %}" />
<script src = "{% static 'js/order.js' %}"></script>

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">


                    <div class="row mb-2">
                        <div class="col-sm-9"><h4 class="header-title pb-3 mt-1">Order History</h4></div>
                        <div class="col-sm-3">
                            <select class="form-select" id="order-select" style="width:160px;float:right">
                                <option>Orders sent</option>
                                <option>Orders received</option>
                            </select>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-hover mb-0" id="reviewer-table">
                    <thead>
                        <tr>
                            <th>Reviewer Name</th>
                            <th>Date</th> 
                            <th>Status</th> 
                            <th>Price</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in user_order %}
                        <tr data-href= "/order_detail/?order_id={{ order.id }}">
                            <td><img src="{{order.reviewer.account.avatar.url}}" alt="" class="thumb-sm rounded-circle mr-2">  {{ order.reviewer.account.first_name }}</td>
                            <td>{{ order.create_at }}</td>
                            <td id = "status-of-order">

                            <span class="status {{ order.state }}">•</span>
                            {{ order.state }}
                            </td>
                            <td>${{ order.reviewer.price }}</td>
                            <td class='go-to-detail'>
                                <a href="/order_detail/?order_id={{ order.id }}"> <img src="{% static 'img/right-arrow.png' %}"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                        <div class="table-responsive">
                            <table class="table table-hover mb-0" id="customer-table">
                                <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th>Detail</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in reviewer_order %}
                                <tr data-href= "/order_detail/?order_id={{ order.id }}">
                                    <td><img src="{{order.account.avatar.url}}" alt="" class="thumb-sm rounded-circle mr-2">  {{ order.account.first_name }}</td>
                                    <td>{{ order.create_at }}</td>
                                    <td id = "status-of-order">

                                        <span class="status {{ order.state }}">•</span>
                                        {{ order.state }}
                                    </td>
                                    <td>${{ order.reviewer.price }}</td>
                                    <td class='go-to-detail'>
                                        <a href="/order_detail/?order_id={{ order.id }}"> <img src="{% static 'img/right-arrow.png' %}"></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                    <!--end table-responsive-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
