<html>
<head>
<link rel="stylesheet" type="text/css" href="bootstrap-4.5.3-dist/css/bootstrap.mic.css">
<link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="container">
<div class="main">
<div class="topbar">
<a href="">LogOut</a>
<a href="">Profile</a>
<a href="">Card</a>
<a href="">Order</a>
<a href="">Home</a>
</div>
<body a link="black" vlink="black">

<center><h1>Reviewer Profile</h1></center>

<center><img src="image.jpg" class="rounded-circle" width="150">
<h3> FirstName LastName </h3>
<div id="body">
</div>

<center>
<hr>
<div class="row">
<div class="col-md-3">
<h3>Email</h3>
</div>
abc123@case.edu
</div>
</div>

<center>
<hr>
<div class="row">
<div class="col-md-3">
<h3>Phone</h3>
</div>
(123)-456-7890
</div>
</div>

<center>
<hr>
<div class="row">
<div class="col-md-3">
<h3>Department</h3>
</div>
Random Department
</div>
</div>
</div>


<center>
<hr>
<h3 class="m-3">Work Experience</h3>
<div class="card-body">
<div class="row">
<div class="col-md-3">
<h5> Company Name</h5>
</div>
Google
</div>
</div>
<h5>Job Description</h5>
</div>
Coding
</div>
</div>
</div>

<center>
<hr>
<div class="row">
<div class="col-md-3">
<h3>Expertise</h3>
</div>
Net Work, Artificial Intelligence
</div>
</div>

<center>
<hr>
<div class="row">
<div class="col-md-3">
<h3>Price Range</h3>
</div>
$1.00 - $1000.00
</div>
</div>

</body>
</html>