{% extends "base.html" %}
{% load static %}
{% block title %}Reviewer Profile{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Reviewer Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <script src = "{% static 'css/reviewer_profile.css' %}"></script>
    <script src = "{% static 'css/button.scss' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                <img src='{{reviewer.account.avatar.url}}'' alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">{{reviewer.account.first_name}} {{reviewer.account.last_name}}</h3> 
                        <span class="fa fa-star checked">  {{rating}}</span> <br>
                        <span class="text-primary">Academic Standing: {{reviewer.account.academic}}</span><br>
                        <span class="text-primary">Major: {{reviewer.account.major}}</span><br>
                        <span class="text-primary">Price: ${{reviewer.price}}</span><br>
                        <span class="text-primary">Delivery Time: {{reviewer.delivery_time}}</span><br>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>{{reviewer.account.user.email}}</a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>{{reviewer.account.phone}}</a></li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">#About Me</h2>
                    </div>
                    <p> {{reviewer.self_intro}}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}