{% extends "base.html" %}
{% load static %}
{% block title %}Reviewer Profile{% endblock %}
{% block content %}
{% csrf_token%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/reviewer_profile.css' %}" />
<script src = "{% static 'js/reviewer_profile.js' %}"></script>
<script>
            $(function(){
                $('.stars').stars();
            });
</script>

<div class="main-body">
<div class="container">
    <div class="row justify-content-center">
        <div class="row gutters">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow h-100">
                <img src='{{reviewer.account.avatar.url}}' alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">{{reviewer.account.first_name}} {{reviewer.account.last_name}}    <span class="fa fa-star checked"> {{rating}}</span> <br></h3> 
                        <span class="text-primary">Academic Standing: {{reviewer.account.academic}}</span><br>
                        <span class="text-primary">Major: {{reviewer.account.major}}</span><br>
                        <span class="text-primary">Price: ${{reviewer.price}}</span><br>
                        <span class="text-primary">Delivery Time: {{reviewer.delivery_time}}</span><br>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>{{reviewer.account.user.email}}</a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>{{reviewer.account.phone}}</a></li>
                    </ul>
                    <div style="width:100%;justify-content: center; align-items: center;text-align: center;  ">
                        <a href="#" class="btn place_order btn-primary" style="padding:10px 0;width: 200px;" id="order_button"><i class="fas fa-search-dollar"></i> Place Order</a> <br>
                        <a href="#" class="btn place_order btn-success" style="padding:10px 0;margin-top: 1rem; width: 200px;" id="chat_button"><i class="fas fa-comments"></i> Chat with Reviewer</a>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="col-lg-8 m-0">
            <div class="card-body h-100">
            <div class="ps-lg-1-6 ps-xl-5">
                <!-- About Me Section -->
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h2 mb-0 text-primary">#About Me</h2>
                    </div>
                    <p class="mt-3"> {{reviewer.self_intro}} </p>
                </div>
                

                <!-- Comment Section -->
                <div class="headings d-flex justify-content-between align-items-center">
                    <h2 class="h2 mb-0 text-primary">#Comments</h2>
                </div>

                <div class="panel">
                    <div class="panel-body">
                        {% for comment in comments %}
                        <div class="media-block">
                            <a class="media-left" href="#"><img class="img-circle img-sm" src="{{comment.account.avatar.url}}"></a>
                            <div class="media-body">
                                <div class="mar-btm">
                                    <a href="#" class="text-semibold media-heading box-inline">{{comment.account.first_name}} {{comment.account.last_name}}</a>
                                    <p>
                                        <span class="text-muted text-sm"><i class="far fa-clock"></i> {{comment.create_at}}</span>  <span class="stars" style="float:right;color:#EBD408" data-rating="{{comment.rate}}" data-num-stars="5" ></span>

                                    </p>

                                </div>
                                <p>{{comment.comment}}</p>
                                <hr>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}