{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <title> User Order </title>
        <script src = "{% static 'js/jquery.min.js' %}"></script>
        <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/orderpage.css' %}" />
        <link rel="stylesheet" href="{% static 'css/rating.css' %}" />
        <script src = "{% static 'js/rating.js' %}"></script>
    </head>
    <body>
        <!-- Nav Bar-->

        <section class='order-section'>
            <!-- title -->
            <div class='order-title'> <h2>Orders Details</h2></div>

            <!-- information table -->
            <section class='order-table row'>
                <div class="col-sm-6 order-col-element" >
                    <table>
                        <tr>
                            <th>Reviewer</th>
                            <td>Alfreds Futterkiste</td> 
                        </tr>
                        <tr>
                            <th>order number</th>
                            <td>#1234567</td> 
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>$30</td> 
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 order-col-element" >
                <table>
                    <tr>
                        <th>Status</th>
                        <td id="complete-info">Completed</td> 
                    </tr>
                    <tr>
                        <th>Start Time</th>
                        <td>2020-04-03</td> 
                    </tr>
                    <tr>
                        <th>Complete Time</th>
                        <td>2020-04-11</td> 
                    </tr>
                </table>
                </div>
            </section>

            <hr>

            <!-- upload/download -->
            <section class='upload-field container-fluid'>
                <div><p> Uploads </p></div>
                <div class="row">
                    <!-- upload field -->
                    <div class="col-sm-2 order-col-element" >
                        <form class='upload-form'>
                            <input type="file" id="select-file-btn" hidden/>
                            <label for="select-file-btn" class='select-file-label'>Select File</label><br>
                            <span id="file-selected">No file chosen</span> <br>
                            <button type="submit" class='upload-btn form-button'>Upload</button>
                        </form>
                    </div>
                    <!-- uploaded files from users -->
                    <div class="col-sm-10 order-col-element" >
                        <div class='uploaded-files'><a href="#"> download1 </a></div>
                        <div class='uploaded-files'><a href="#"> download2 </a></div>
                    </div>
                </div>
            </section>

            <hr>

            <!-- Rating -->
            <section class='rating-field container-fluid'>
            
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="background-color: #003658;" id="ratingSection">
                    Rate the Reviewer
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rating Form</h5>
                        
                        </div>
                        <div class="modal-body">
                            <form id="ratingForm">
                                <div class="star">
                                    <input type="radio" id="star5" name="star" value="5" hidden/>
                                    <label for="star5" title="text"></label>
                                    <input type="radio" id="star4" name="star" value="4" hidden/>
                                    <label for="star4" title="text"></label>
                                    <input type="radio" id="star3" name="star" value="3" hidden/>
                                    <label for="star3" title="text"></label>
                                    <input type="radio" id="star2" name="star" value="2" hidden/>
                                    <label for="star2" title="text"></label>
                                    <input type="radio" id="star1" name="star" value="1" hidden/>
                                    <label for="star1" title="text"></label>
                                </div>
                                <br>
                                <textarea class="textComments" placeholder = "Leave Comments..." rows = "6"></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save rating</button>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <section class='cancel-field container-fluid'>
                <button type="submit" class='upload-btn' id="cancel-btn">Cancel Order</button>
            </section>
        </section>
    </body>
    <script src = "{% static 'js/orderpage.js' %}"></script>
    
</html>
